#################### env file ########################
##                                                  ##
##              北京爱生活科技有限公司                  ##
##                                                  ##
######################################################

DEBUG_COMPOSE_ENTRYPOINT=1

HOST_DEV_BOX_PATH=.
###
### At what IP address should the docker services listen
### on the Host computer?
###
### The specified default should be fine for Linux and OSX (127.0.0.1:).
### If you are on windows, you will probably have to change
### it to the IP address of the docker machine.
###
### a.) Leave blank, to listen on all interfaces (no trailing color ':')
###    LOCAL_LISTEN_ADDR=
### b.) If an IP is specified, note the trailing colon ':'
###    LOCAL_LISTEN_ADDR=127.0.0.1:
###
LOCAL_LISTEN_ADDR=
HOST_PORT_BIND=53
###
### This is the domain suffix your projects will be made available
### with mass-virtual-hosting.
### It is also required for the internal DNS server to be setup.
###
### Note: Only ALPHA ([a-zA-Z]+) characters are supported.
###
### Example:
###   TLD_SUFFIX=loc
### Makes your project available under xxxx.loc
###
### Example:
###   TLD_SUFFIX=local
### Makes your project available under xxxx.local
###
TLD_SUFFIX=local

###
### Set your user id and group id
###
### This should be changed to the value of your local
### users uid and gid
###
### Type `id` on the terminal to find out your values
###
NEW_UID=1000
NEW_GID=1000

TIMEZONE=Asia/Shanghai

##
### Local filesystem path to www projects.
###
### Note: When changing this variable you must re-create the container.
###       Simply remove it, it will be auto-created during the next start:
###
### $ docker-compose rm -f
###
HOST_PATH_DEPLOY_DATADIR=./deploy/code/app
HOST_PATH_RUN_DIR=./runtime/run
###
### Local filesystem path to mysql/mariadb datadir.
###
### This can be an existing mysql data directory or empty.
### If it already is a mysql data directory with content,
### it will be mounted into the docker and used.
###
### If this directory is empty, a new mysql database will be
### created.
###
### Note: Inside this path, a subdirectory with the mysql|mariadb
###       version will be created where the actual data resides.
###       This is to protect databases from being altered by
###       newer or older mysql|mariadb server versions.
###
### Note: When changing this variable you must re-create the container.
###       Simply remove it, it will be auto-created during the next start:
###
### $ docker-compose rm -f
###
HOST_PATH_MYSQL_DATADIR=./runtime/data/mysql
### redis
HOST_PATH_REDIS_DATADIR=./runtime/data/redis

#####################
## NGINX Docker Settings
##
#####################
HOST_PATH_NGINX_CONFIG_DIR=./deploy/config/nginx
HOST_LOG_NGINX_PATH=./runtime/logs/nginx
#####################
## PHP Docker Settings
##
#####################
HOST_PATH_PHP_CONFIG_DIR=./deploy/config/php
PHP_CONFIG_PORT=9000
HOST_LOG_PHP_DIR=./runtime/logs/php
####################
##
## MySQL Docker Settings
########################
HOST_CONFIG_MYSQL_DIR=./deploy/config/mysql
MYSQL_ROOT_PASSWORD=
MYSQL_GENERAL_LOG=1
HOST_PORT_MYSQL=3306
HOST_LOG_MYSQL_DIR=./runtime/logs/mysql
###################
## Redis Docker Settings
##
###################
HOST_PORT_REDIS=6379
HOST_CONFIG_REDIS_FILE=./deploy/config/redis/redis.dev.conf
HOST_PATH_REDIS_DATADIR=./runtime/data/redis
####################
## Memcached Docker Settings
##
####################
HOST_PORT_MEMCACHED=11211
################################################################################
###
### 10. Bind Docker Settings
###
################################################################################

###
### Expose Bind Port to Host
###
HOST_PORT_BIND=1053

###
### Add comma separated DNS server from which you want to receive DNS
### You can also add DNS servers from your LAN (if any are available)
###
BIND_DNS_RESOLVER=180.76.76.76,223.5.5.5,223.6.6.6

###
##
##
###
HOST_CODE_DIR=